* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "inter", sans-serif;
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;
  --text-title: bold 24px/200% var(--font-family);
  --text-label: Semibold 16px/125% var(--font-family);
  --text-parag: Medium 1rem/125% var(--font-family);
  --text-link: Medium 1rem/100% var(--font-family);
}
body {
  font: var(--text-parag);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: var(--background-primary);
  color: var(--content-secondary);

}



li {
  margin: 10px;
  cursor: pointer;
  /*list-style: none;*/

}

.back span {
  color: var(--color-brand);
  
}

