:root {
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;
  --font-family: "inter", sans-serif;
  --text-title: bold 24px/170% var(--font-family);
  --text-label: Semibold 16px/125% var(--font-family);
  --text-parag: Medium 16px/125% var(--font-family);
  --text-link: Medium 16px/100% var(--font-family);
}
body {
  font-family: "inter", sans-serif;
  text-align: center;
  background: var(--background-primary);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  cursor: pointer;
}