header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  margin-top: 25px;
  margin-bottom: 62px;
}

h1 {
  color: var(--content-secondary);
  font: 700 2.0rem/1 var(--font-family);
  letter-spacing: -0.533px;
}